html {
            scroll-behavior: smooth;
        }

		body{
			

			  padding: 0px;
			  margin: 0px;
			  font-family: 'Nunito', sans-serif;
			  font-size: 16px;
		}

		button {
		  font-family: 'Nunito', sans-serif;
		  font-weight: 700;
		}



		.buscador {
			text-align:center;
			padding-top: 30px;
			padding-bottom: 10px;
		}

		.cont {
			text-align:center;
			padding-bottom: 10px;
		}

		.buscador #direccion {
			margin:10px auto;
			width:100%;
			padding:7px;
			max-width:250px;
		}

		#mapa-geocoder {
			height: 790px;
            width: 80%;
            background:#BEBEBE;
            padding-top: 20px;
		}

		#section2 {
            height: 790px;
            width: 80%;		
        }

        #usuario {
        	color: #FFFFFF; 
        	display: inline-block; 
        	text-align: right; 
        	margin-left: 10px;
        }

        #init {
        	display: inline-block;
        	top: 0;
        	right: 0;
        	float: left;
			margin-right: 5px;
			margin-left: 5px;
			margin-top: 5px;
        }

        #logout {
        	display: inline-block;
        	top: 0;
        	right: 0;
			float: right;
			margin-right: 5px;
			margin-top: 5px;
        }

        #load {
        	display: inline-block;
        	top: 0;
        	right: 0;
			float: right;
			margin-right: 5px;
			margin-top: 5px;
        }

        #buscar {
        	position: initial;
        }

        #continuar {
        	position: initial;
        }

        #fin {
        	position: initial;
        }

        #bar {
        	background-color: #000000;
        	width: 100%;
        	height: 50px;
        }



        .sticky button{
        	position: fixed;
  			bottom: 30px;
  			right: 15px;
		  	background: #F27BF4;
		  	color: #fff;
		  	border: 1px solid #F373F5;
		  	border-radius: 50px;
		  	padding: 15px;
		  	width: 5%;
		  	text-align: center;
		  	transition: 0.3s;
		  	-webkit-transition: 0.3s;
		  	-moz-transition: 0.3s;
        }

        .main-menu button{
		  display: block;
		  background: #5d8ffc;
		  color: #fff;
		  border: 1px solid #5d8ffc;
		  border-radius: 5px;
		  padding: 15px;
		  width: 15%;
		  transition: 0.3s;
		  -webkit-transition: 0.3s;
		  -moz-transition: 0.3s;
		}
		.bar button{
		  display: block;
		  background: #5d8ffc;
		  color: #fff;
		  border: 1px solid #5d8ffc;
		  border-radius: 5px;
		  padding: 10px;
		  width: 10%;
		  transition: 0.3s;
		  -webkit-transition: 0.3s;
		  -moz-transition: 0.3s;
		}

		.main-menu button:hover {
		  background: #fff;
		  color: #5d8ffc;
		  border: 1px solid #5d8ffc;


		}
		.bar button:hover {
		  background: #fff;
		  color: #5d8ffc;
		  border: 1px solid #5d8ffc;
		}

		.sticky button:hover{
			background: #F798F9;
		  color: #5d8ffc;
		  border: 1px solid #5d8ffc;
		}


		.tooltip {
		  position: relative;
		  display: inline-block;

		}

		.tooltip .tooltiptext {
		  visibility: hidden;
		  width: 120px;
		  background-color: black;
		  color: #fff;
		  text-align: center;
		  padding: 5px 0;
		  border-radius: 6px;
		  position: absolute;
		  z-index: 1;
		}

		.tooltip:hover .tooltiptext {
		  visibility: visible;
		}