*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	background: #29D2F8;
}

.container_cards{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	perspective: 900px;

}

.card{
	width: 100%;
	background: rgba(255, 255, 255, 0.6);
	transition: all 600ms ease;
	border-radius: 10px;
	transform: rotateX(10deg) scale(0.7);
	box-shadow: 0px 20px 50px -10px #000;
}

.card:hover{
	cursor: pointer;
	transform: rotate(0deg) scale(1.5) translateY(10px);
}

.specifications{
	margin-top: 10px;
	text-align: center;
}

hr{
	border: none;
	
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}


@media screen and (max-width: 800px){
	.container_cards{
		perspective: none;
		flex-wrap: wrap;
	}
	.card{
		max-width: 290px;
		margin: 20px;
		transform: scale(1);
	}

	.card:hover{
		transform: translateY(0px) scale(1.08);
	}
}

@media screen and (max-width: 650px){
	.card{
		max-width: 350px;
		margin: 20px;
		transform: translate(0deg) scale(1);
	}
}