
		body{
			background: #fff;
			  padding: 0px;
			  margin: 0px;
			  font-family: 'Nunito', sans-serif;
			  font-size: 16px;
		}

		button {
		  font-family: 'Nunito', sans-serif;
		  font-weight: 700;
		}

		.main-div{
		  
		  margin: 0px auto;
		  margin-top: 150px;
		  padding: 20px;
		}

		#email, #pass {
		  
		  width: 300px;
		  
		}

		.main-div input{
		  display: block;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		  background: #fff;
		  padding: 15px;
		  
		  margin-bottom: 20px;
		  transition: 0.3s;
		  -webkit-transition: 0.3s;
		  -moz-transition: 0.3s;
		}

		.main-div button{
		  display: block;
		  background: #5d8ffc;
		  color: #fff;
		  border: 1px solid #5d8ffc;
		  border-radius: 5px;
		  padding: 15px;
		  width: 15%;
		  transition: 0.3s;
		  -webkit-transition: 0.3s;
		  -moz-transition: 0.3s;
		}

		.main-div button:hover {
		  background: #fff;
		  color: #5d8ffc;
		  border: 1px solid #5d8ffc;

		}

		#create {
			width: 27%;
			cursor: pointer;
		}

		#create:hover {
			color: #5d8ffc;
		}